/* start fonts */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:300,400,400i,600');
/* end fonts */


/* start global styles */
body {
  font-family: 'EB Garamond', serif;
}

a {
  color: #641b3e; 
}
a:hover {
  color: #CC377E;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #641b3e; 
  font-weight: 300;
}

strong {
  font-weight: 600;
}

.tel {
  color: #641b3e; 
}

.inline-icons {
  max-width: 25px;
}

/* force max width at all viewport widths */
.container {
  max-width: 720px !important;
}

img.logo {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2.5em;
}

/* end global styles */


/* start nav styles */
/* center navbar expanded */
ul.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

li.active {
  font-weight: 600;
}

li.active.home-link {
  font-weight: 400;
}

li.active a.nav-link:hover {
  color: #641b3e !important;
  text-decoration: none;
}

/* hamburger menu colors */

.navbar-light .navbar-toggler {
  border-color: rgb(100, 27, 62);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(100, 27, 62)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* sets the width of the nav button */
button.navbar-toggler.custom-toggler {
  /* width: 100%; */
  margin-left: auto;
}

/* nav link colors */
a.nav-link {
  color: #641b3e !important;  
}
a.nav-link:hover {
  color: #CC377E !important;
  text-decoration: none;
}
/* end nav styles */


/* start index page only styles */

p.thanksgiving-banner {
  text-align: center;
}

img.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2.5em;
}
/* end index page only styles */


/* start menu page only styles */
.menu_images {
  width: 100%;
}

/* end menu page only styles */



/* start footer styles */
footer {
  text-align: center;
  font-weight: 300;
  color: #641b3e; 
}

footer .social-icons {
  height: 30px;
  width: 30px;
  margin-left: 8px;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* end footer styles */


/* start form styles */
.text_inputs {
  width: 350px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.text_inputs_small {
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

/* shrink input form fields portrait phones */
@media (max-width: 400px) {
.text_inputs {
  width: 250px;
}
}

.form_submit_button {
    background-color: #fff; 
    border: 1px;
    border-style: solid;
    border-color: #641b3e;
    color: #641b3e;
    padding: .7em 1.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form_submit_button:hover {
    color: #9F4F6F;
    border-color: #9F4F6F;
}

/* end form styles */