/* start fonts */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/* end fonts */


/* start global styles */
body {
  font-family: 'EB Garamond', serif;
  /* font-family: 'Montserrat', sans-serif; */
}

a {
  color: #641b3e; 
}
a:hover {
  color: #CC377E;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #641b3e; 
}
/* end global styles */


/* start nav styles */
/* center navbar */
.navbar-expand-sm {
  width: 450px;
}

a.nav-link {
  color: #641b3e !important;  
}
a.nav-link:hover {
  color: #CC377E !important;
  text-decoration: none;
}
/* end nav styles */


/* start index page only styles */
.index {
  padding: 3rem 1.5rem;
}

img.logo {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2.5em;
}

img.hero {
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2.5em;
}

/* end index page only styles */


/* start footer styles */
footer {
  text-align: center;
  font-size: 1.35em;
  font-weight: 300;
}

footer .social-icons {
  height: 30px;
  width: 30px;
  margin-left: 8px;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* end footer styles */